/* Estilos generales */
body {
    background-color: #1E3E5B;
    font-family: Verdana;
}

.img {
    width: 150px;
    height: 150px;
}

.txt1 {
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 80px;
}

.txt {
    margin-bottom: -41px;
    font-family: Verdana;
    margin-top: 10px;
    margin-left: 20px;
}

.btn1 {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #474747;
    height: 60px;
    line-height: 0px;
    text-align: center;
    padding: 0 50px;
    margin-top: 55px;
    border-radius: 10px;
}

#input1 {
    height: 10px;
    width: 70%;
    border-radius: 20px;
    margin-left: 5%;
    padding: 15px;
}

#input2 {
    height: 10px;
    width: 70%;
    border-radius: 20px;
    margin-left: 4%;
    padding: 15px;
}

#input {
    height: 10px;
    width: 70%;
    border-radius: 20px;
    margin-left: 4%;
    padding: 15px;
}

.error1 {
    color: #cf4646;
    text-align: center;
    padding: 0px;
    margin-left: 40px;
    text-indent: 0px;
}
.tortuStudio {
    width: 265px;
    height: 41px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px 20px 0 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0px;
    font-size: 15px;
}
.img1 {
    width: 30px;
    height: 26px;
    margin-left: 122px;
    margin-top: 21px;
}

.txt2 {
    margin-bottom: -76px;
    font-family: Verdana;
    margin-top: -26px;
    margin-left: 157px;
}
    

.contenedor {
    padding-top: 0px;
    max-width: 1000px;
    margin: 10px auto;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card1 {
    padding-left: 30px;
    padding-top: 5%;
    margin: -25px 30px 50px 30px;
    width: 70%;
    height: 460px;
    background-color: #ACACAD;
    color: #000000;
    text-indent: -30px;
    border-radius: 10%;
    font-size: 20px;

}

@media (max-width:600px) {

.img {
    width: 90px;
    height: 90px;
}
.tortuStudio {
    width: 222px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px 20px 0 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0px;
    font-size: 12px;
}

    .img1 {
        width: 20px;
        height: 20px;
        margin-left: 107px;
        margin-top: 21px;
    }

    .txt2 {
        margin-bottom: -76px;
        font-family: Verdana;
        margin-top: -19px;
        margin-left: 133px;
    }

    .contenedor {
        padding-top: 0px;
        max-width: 1000px;
        margin: 10px auto;
        color: #000000;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1{
        font-size: 15px;
        position: absolute;
        padding-top: 20px;
        margin: 10px 34px 50px 30px;
        width: 80%;
        height: 400px;
        background-color: #ACACAD;
        color: #000000;
        text-indent: -80px;
        border-radius: 10%;
    }

    .btn1 {
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
        background-color: #474747;
        min-height: 16%;
        border-radius: 10px;
        margin-top: 31px;
        margin-left: -40px ;
    }
    

    #input2 {
        
        height: 10px;
        width: 90%;
        border-radius: 20px;
        margin-left: -50px;
        padding: 15px;
    }
    #input1 {
        
        height: 10px;
        width: 90%;
        border-radius: 20px;
        margin-left: -50px;
        padding: 15px;
    }
}

@media (min-width: 600px) and (max-width:800px) {

    .img {
        width: 120px;
        height: 120px;
    }
    .tortuStudio {
        width: 265px;
        height: 41px;
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 20px 20px 0 0px;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0px;
        font-size: 15px;
    }
    
        .img1 {
            width: 30px;
            height: 26px;
            margin-left: 122px;
            margin-top: 21px;
        }
    
        .txt2 {
            margin-bottom: -76px;
            font-family: Verdana;
            margin-top: -26px;
            margin-left: 157px;
        }
    
        .contenedor {
            padding-top: 0px;
            max-width: 1000px;
            margin: 10px auto;
            color: #000000;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card1{
            position: absolute;
            padding-top: 20px;
            margin: 10px 34px 50px 30px;
            width: 70%;
            height: 430px;
            background-color: #ACACAD;
            color: #000000;
            text-indent: -50px;
            border-radius: 10%;
        }
    
        .btn1 {
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            background-color: #474747;
            min-height: 16%;
            border-radius: 10px;
            margin-top: 31px;
            margin-left: -40px;
        }
        
    
        #input2 {
            height: 10px;
            width: 80%;
            border-radius: 20px;
            margin-left: -19px;
            padding: 15px;
        }
    
        #input1 {
            height: 10px;
            width: 80%;
            border-radius: 20px;
            margin-left: -19px;
            padding: 15px;
        }
    }

    @media (min-width: 800px) and (max-width:1600px) {

        .img {
            width: 150px;
            height: 150px;
        }
        .tortuStudio {
            width: 265px;
            height: 41px;
            background-color: rgba(128, 128, 128, 0.5);
            border-radius: 20px 20px 0 0px;
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 0px;
            font-size: 15px;
        }
    
        .img1 {
            width: 30px;
            height: 26px;
            margin-left: 122px;
            margin-top: 21px;
        }
    
        .txt2 {
            margin-bottom: -76px;
            font-family: Verdana;
            margin-top: -26px;
            margin-left: 157px;
        }
            

            .contenedor {
                padding-top: 0px;
                max-width: 1000px;
                margin: 10px auto;
                color: #000000;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        
            .card1{
                padding-top: 5%;
                margin: -25px 30px 50px 30px;
                width: 70%;
                height: 464px;
                background-color: #ACACAD;
                color: #000000;
                text-indent: -30px;
                border-radius: 10%;
            }
        
            .btn1 {
                font-size: 20px;
                color: #ffffff;
                text-decoration: none;
                background-color: #474747;
                height: 60px;
                line-height: 0px;
                text-align: center;
                padding: 0 50px;
                margin-top: 55px;
                border-radius: 10px;
            }
            
        
            #input1 {
                height: 10px;
                width: 70%;
                border-radius: 20px;
                margin-left: 5%;
                padding: 15px;
            }
            
            #input2 {
                height: 10px;
                width: 70%;
                border-radius: 20px;
                margin-left: 4%;
                padding: 15px;
            }
        }