body {
    background-color: #1E3E5B;
    font-family: Verdana;
}

.navbar {
    padding: 0px;
    margin: 0px;
    background-color: #ACACAD;
    width: 100%;
}

.img1 {
    width: 90px;
    height: 90px;
}

.img2 {
    width: 40px;
    height: 30px;
}

.cardPerfil {
    width: 40px;
    background-color: #ACACAD;
    color: #000000;
    text-indent: 6px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.imgPerfil {
    padding-top: 7.3%;
    margin-left: 0%;
    width: 80%;
}

.btn2 {
    width: 100px;
    float: none;
    top: 0px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #474747;
    height: 50px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
}

.contenedor {
    max-width: 900px;
    margin: 10px auto;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor1 {
    max-width: 1000px;
    margin: 10px auto;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    height: 200px;
    margin: 5px;
    padding: 3px;
    background-color: #ACACAD;
    color: #000000;
    text-indent: 30px;
    border: 2px solid #000000;
    border-radius: 10%;
}

.imgViaje {
    padding-top: 5%;
    margin-left: 10%;
    width: 55%;
}

.imgCoche {
    padding-top: 20%;
    margin-left: 8%;
    width: 60%;
}

.imgPerfil {
    padding-top: 7.3%;
    margin-left: 0%;
    width: 80%;
}

.imgChofer {
    padding-top: 5%;
    margin-left: 16.5%;
    width: 40%;
}

.imgCliente {
    padding-top: 8%;
    margin-left: 14%;
    width: 50%;
}

.imgEmpleado {
    padding-top: 6%;
    margin-left: 15%;
    width: 45%;
}

.imgMan {
    padding-top: 5%;
    margin-left: 17.5%;
    width: 40%;
}

.txtCoche {
    margin-top: 10%;
    margin-left: -12%;
    text-align: center;
    font-size: 24px;
}

.txtMan {
    margin-top: 10%;
    margin-left: -11%;
    text-align: center;
    font-size: 24px;
}

.txtMan1 {
    margin-top: -20%;
    margin-left: -9%;
    text-align: center;
    font-size: 24px;
}

.txt {
    margin-top: 0%;
    margin-left: -12%;
    text-align: center;
    font-size: 24px;
}



.btn3 {
    border: 0.5px solid black;
    top: 20px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    width: 100px;
    height: 30px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}


.btn4 {
    border: 0.5px solid black;
    top: 20px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #5bb15f;
    width: 100px;
    height: 30px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}

.btn6 {
    margin-left: -20px;
    position: absolute;
    margin-top: 15px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}

#btn6 {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #c2ca32;
    width: 40px;
    height: 40px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}

#btn7 {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #d44427;
    width: 40px;
    height: 40px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}

#btn8 {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #b8b8ab;
    width: 40px;
    height: 40px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}

.img_basura {
    width: 18px;
    height: 18px;
}

.img_editar {
    width: 20px;
    height: 18px;
}

.img_inav {
    width: 18px;
    height: 18px;
}

.img_info {
    width: 18px;
    height: 18px;
}

.img_Negra {
    width: 21px;
    height: 19px;
}
.quehacer {
    margin-left: 15px;
    color: #000000;
    text-decoration: none;
}

#btn9 {
    border: 0.5px solid black;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    background-color: #5bb15f;
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}

#btn10 {
    border: 0.5px solid black;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    margin-right: 20px;
    float: right;
    border-radius: 5px;
    background-color: #5bb15f;
    color: #000000;
    text-decoration: none;
}

#btn11 {
    border: 0.5px solid black;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    background-color: #5bb15f;
    color: #000000;
    text-decoration: none;
    margin-left: 35%;
}

#btn12{
    border: 0.5px solid black;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    background-color: #5bb15f;
    color: #000000;
    text-decoration: none;
    margin-left: 74px;
}

#btn13 {
    border: 0.5px solid black;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    background-color: #5bb15f;
    color: #000000;
    text-decoration: none;
    margin-left: 61px;
    margin-top: 6px;
}

.btn11 {
    text-decoration: none;
    position: absolute;
    margin-top: 420px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 25px;
    margin-left: -420px;
    border-radius: 10px;
    border: solid 1px black;
}

.btn12 {
    text-decoration: none;
    position: absolute;
    margin-top: 10px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 25px;
    margin-left: 25%;
    border-radius: 10px;
}

.btn13 {
    margin-left: -300px;
    text-decoration: none;
    position: absolute;
    margin-top: 420px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}

.btn14 {
    margin-left: -279px;
    text-decoration: none;
    position: absolute;
    margin-top: 885.5px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}

.btn15 {
    border: 1px solid black ;
    margin-left: -75px;
    text-decoration: none;
    position: absolute;
    margin-top: 420px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}
.btn16 {
    margin-left: -172px;
    text-decoration: none;
    border: solid 1px black;
    position: absolute;
    margin-top: 650.5px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}
.btn17 {
    border: 1px solid black;
    margin-left: -383px;
    text-decoration: none;
    position: absolute;
    margin-top: 651px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}
.btn18 {
    border: 1px solid black;
    margin-left: -383px;
    text-decoration: none;
    position: absolute;
    margin-top: 550px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}

.btn19 {
    border: 1px solid black;
    margin-left: -383px;
    text-decoration: none;
    position: absolute;
    margin-top: 550px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}



.links {
    text-decoration: none;
}

/* Modal salir */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-contenido {
    background-color: #474747;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

.modal h2 {
    color: #cf4646;
    text-align: center;
}

.modal-botones {
    text-align: center;
    margin-top: 20px;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal1 h2 {
    color: #cf4646;
    text-align: center;
}

.modal-contenido1 {
    background-color: #474747;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

.modal-botones1 {
    text-align: center;
    margin-top: 20px;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content2 {
    background-color: #ACACAD;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 17px;
    width: 50%;
}

.close2 {
    color: #d33939;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content5 {
    background-color: #ACACAD;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 17px;
    width: 30%;
}

/* botones */


.modal-content3 {
    background-color: #ACACAD;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 307px;
}

.modal-content4 {
    background-color: #ACACAD;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 307px;
    height: 143px;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Editar perfil */



.card1 {
    padding-top: 0%;
    margin: 5px 0px 50px 30px;
    width: 60%;
    height: 500px;
    color: #000000;
    text-indent: 30px;
    border-radius: 10%;
}

.card2 {
    margin-left: 16.8%;
    width: 65%;
}

.card3 {
    width: 462.5px;
    margin-left: 0px;
    padding: 0px;
    color: #ffffff;
    text-indent: 30px;
    border-radius: 10%;
}

.card4 {
    padding-top: 0%;
    margin: 0px 0px 0px 0px;
    width: 60%;
    height: 500px;
    color: #000000;
    text-indent: 30px;
    border-radius: 10%;
}

.card5 {
    width: 437.5px;
    margin-left: 0px;
    padding: -41px;
    color: #ffffff;
    text-indent: 30px;
    border-radius: 10%;
}

.card5-1 {
    margin-top: 117px;
    width: 437.5px;
    margin-left: 0px;
    padding: -41px;
    color: #ffffff;
    text-indent: 30px;
    border-radius: 10%;
}

.card6 {
    width: 437.5px;
    margin-left: -28px;
    padding: -41px;
    color: #ffffff;
    text-indent: 30px;
    border-radius: 10%;
}

.Coche {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 100px;
}
.Coche1 {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 450px;
    height: 45px;
}
.Chofer {
    position: absolute;
    z-index: 2;
    margin-left: 10px ;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 100px;
}


.card6-1 {
    margin-top: 152px;
    width: 437.5px;
    margin-left: 0px;
    padding: -41px;
    color: #ffffff;
    border-radius: 10%;
}

.card6-2 {
    position: absolute;
    margin-top: 538px;
    width: 437.5px;
    margin-left: -439px;
    padding: -41px;
    color: #ffffff;
    border-radius: 10%;
}

.card6-3 {
    position: absolute;
    margin-top: 459px;
    width: 437.5px;
    margin-left: 384px;
    padding: -41px;
    color: #ffffff;
    border-radius: 10%;
}

.card7 {
    margin-top: 95px;
    width: 437.5px;
    margin-left: -28px;
    padding: -41px;
    color: #ffffff;
    text-indent: 30px;
    border-radius: 10%;
}
.card7-1 {
    position: absolute;
    margin-top: 538px;
    width: 437.5px;
    margin-left: -439px;
    padding: -41px;
    color: #ffffff;
    border-radius: 10%;
}
.card7-2 {
    position: absolute;
    margin-top: 538px;
    width: 437.5px;
    margin-left: 400px;
    padding: -41px;
    color: #ffffff;
    border-radius: 10%;
}
.cardPerfil2 {
    margin-left: 100px;
    margin-top: 180px;
    margin-bottom: 240px;
    width: 170px;
    background-color: #ACACAD;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50%;
}

.imgPerfil2 {
    padding-top: 10%;
    margin-left: 20%;
    width: 70%;
}

#ingresefoto {
    margin-top: -220px;
    margin-left: 45%;
}

.txt1 {
    color: #ffffff;
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 80px;
    text-indent: 0px;
}

.txt2 {
    font-size: 25px;
    color: #ffffff;
    font-family: Verdana;
    margin-top: 280px;
    margin-left: 80px;
}

.btn1 {
    position: absolute;
    margin-top: 420px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}

.btn1-1 {
    margin-left: 49px;
    position: absolute;
    margin-top: 443px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}
.btn1-2 {
    margin-left: 49px;
    position: absolute;
    margin-top: 882px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}
.btn1-3 {
    margin-left: 10px;
    position: absolute;
    margin-top: 564px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}
.input1 {
    height: 16px;
    width: 60%;
    border-radius: 20px;
    margin-left: 90px;
    padding: 15px;
}

.input2 {
    border: 1px solid #000000;
    height: 48px;
    width: 67%;
    font-size: 14px;
    text-indent: 0px;
    border-radius: 20px;
    margin-left: 90px;
    padding: 15px;
}

.input3 {
    font-family: verdana;
    border: 1px solid #000000;
    overflow-x: hidden;
    overflow-y: scroll;
    resize: none;
    height: 100px;
    width: 60%;
    border-radius: 20px;
    margin-left: 90px;
    padding: 15px;
    color: #000000;
    font-size: 15px;
    text-indent: 0px;
}

/* Ocultar el select original */
.input2 select {
    display: none;
}

.lebel {
    margin-left: 80px;
    color: #ffffff;
}

#input1 {
    margin-left: 0px;
    height: 10px;
    width: 400px;
    border-radius: 20px;
    left: 0px;
    padding: 15px;
}

#input {
    height: 10px;
    width: 400px;
    border-radius: 20px;
    left: 0px;
    padding: 15px;
}

.swal-modal {
    background-color: #474747;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

.swal-text {
    font-size: 20px;
    color: #ffffff;
}

.swal-button {
    text-align: center;
    color: #000000;
    background-color: #5bb15f;
    border: 1px solid black;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #ACACAD;
    border: 0px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-menu {
    z-index: 3;
    display: none;
    margin-left: -20px;
    margin-top: 25px;
    position: absolute;
    border: 1px solid #000000;
    background-color: #ACACAD;
    box-shadow: 2px 2px 4px;
    width: 200px;
    height: 400px;
    list-style: none;
    padding: 0px;
    max-height: 800px;
    transition: height 0.3s ease;
}

.dropdown-op1 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.dropdown-op2 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-menu li a {
    color: #000000;
    text-decoration: none;
    display: block;
}

.dropdown.active .dropdown-menu {
    display: block;
    height: auto;
}

.dropdown-op {
    padding-top: 5px;
    margin: 0%;
    text-indent: 10px;
}

.hidden,
.hidden1,
.hidden2,
.hidden3,
.hidden4,
.hidden5 {
    display: none;
}


/* Ver tablas */
.disabled-row {
    background-color: #de0101;
    /* Cambia esto al color que desees */
}

.txt3 {
    font-size: 20px;
    color: #ffffff;
    font-family: Verdana;
}

.txt4 {
    font-size: 16px;
    color: #ffffff;
    font-family: Verdana;
}

.content-table {
    max-height: 400px;
    overflow: auto;
    margin-left: -15.9%;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    min-width: 135%;
}

.content-table td {
    background-color: #ACACAD;
}

.content-table td,
.content-table th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

.content-table tr:nth-child(even) {
    background-color: #ffffff;
}

.content-table th {
    background-color: #1E3E5B;
    color: rgb(3, 3, 3);
}

.content-table1 {
    max-height: 400px;
    overflow: auto;
    margin-left: -6%;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    min-width: 115%;
    font-size: 15px;
}

.content-table1 td {
    background-color: #ACACAD;
}

.content-table1 td,
.content-table1 th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

.content-table1 tr:nth-child(even) {
    background-color: #ffffff;
}

.content-table1 th {
    background-color: #1E3E5B;
    color: rgb(3, 3, 3);
}

.td-btn {
    width: 140px;
}

.tablaespacio {
    display: inline-block;
    width: 2%;
}

.tablaizq {
    width: 40%;
    display: inline-block;
    margin-left: 10px;
}

.tablader {
    margin-left: 48px;
    display: inline-block;
    padding: 0%;
    width: 40%;
}

title {
    background-color: #1E3E5B;
}

.error404 {
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    width: 40%;
}

.fondorojo {
    background-color: #8e3939;
    color: #000000;
}



/* Estilo para la tabla cuando está inhabilitada */
.inhabilitado {
    border: 2px solid red;
}

@media (min-width: 888px) and (max-width:1000px) {
    .card5-1 {
        margin-top: 117px;
        width: 437.5px;
        margin-left: 0px;
        padding: -41px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }
}
@media (min-width: 835px) and (max-width:1000px) {

    .card6-1 {
        margin-top: 152px;
        width: 437.5px;
        margin-left: -28px;
        padding: -41px;
        color: #ffffff;
        border-radius: 10%;
    }
    .btn1-1 {
        margin-left: 6px;
        position: absolute;
        margin-top: 463px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 50px;
        border-radius: 10px;
    }
}
@media (min-width: 480px) and (max-width:835px) {

    .card6-1 {
        margin-top: 24px;
        width: 437.5px;
        margin-left: -28px;
        padding: -41px;
        color: #ffffff;
        border-radius: 10%;
    }
    
    .btn1-1 {
        margin-left: 6px;
        position: absolute;
        margin-top: 656px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 50px;
        border-radius: 10px;
    }
}
@media (min-width: 600px) and (max-width:888px) {

    .btn1 {
        position: absolute;
        margin-top: 623px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 50px;
        border-radius: 10px;
    }

    .card5-1 {
        margin-top: 0px;
        width: 437.5px;
        margin-left: 0px;
        padding: -41px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }
}

@media (min-width: 600px) and (max-width:990px) {
    .modal-contenido {
        background-color: #474747;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #000000;
        width: 30%;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        border-radius: 10px;
    }
    .card5 {
        width: 437.5px;
        margin-left: 0px;
        padding: -41px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }

    .contenedor1 {
        width: 100%;
        margin: 10px auto;
        color: #000000;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card3 {
        width: 525px;
        margin-left: -17px;
        padding: 0px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }

    .input2 {
        border: 1px solid #000000;
        height: 48px;
        width: 64.7%;
        font-size: 14px;
        text-indent: 0px;
        border-radius: 20px;
        margin-left: 90px;
        padding: 15px;
    }

    .btn11 {
        text-decoration: none;
        position: absolute;
        margin-top: 420px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 25px;
        margin-left: -241px;
        border-radius: 10px;
        border: solid 1px black;
    }

    .btn12 {
        text-decoration: none;
        position: absolute;
        margin-top: 10px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 25px;
        margin-left: 23.5%;
        border-radius: 10px;
    }

    .btn13 {
        margin-left: -244px;
        text-decoration: none;
        position: absolute;
        margin-top: 796px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 62px;
        line-height: 60px;
        text-align: center;
        padding: 0 20px;
        border-radius: 10px;
    }
}

@media (min-width: 479px) and (max-width:599px) {
    .modal-contenido {
        background-color: #474747;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #000000;
        width: 30%;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        border-radius: 10px;
    }
    .card5 {
        width: 375.5px;
        margin-left: -10%;
        padding: -41px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }

    .card5-1 {
        margin-top: 0px;
        width: 375.5px;
        margin-left: -10%;
        padding: -41px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }

    .btn1 {
        position: absolute;
        margin-top: 623px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 50px;
        border-radius: 10px;
    }

    .btn11 {
        text-decoration: none;
        position: absolute;
        margin-top: 479px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 25px;
        margin-left: -327px;
        border-radius: 10px;
        border: solid 1px black;
    }

    .btn13 {
        margin-left: 2px;
        text-decoration: none;
        position: absolute;
        margin-top: 783px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 50px;
        border-radius: 10px;

    }
}

@media (min-width: 300px) and (max-width:480px) {
    .card6 {
        width: 340px;
        margin-left: -55px;
        padding: -41px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }
    .card6-1 {
        margin-top: 24px;
        width: 340px;
        margin-left: -55px;
        padding: -41px;
        color: #ffffff;
        border-radius: 10%;
    }
    .btn1-1 {
        margin-left: 6px;
        position: absolute;
        margin-top: 656px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 17px;
        border-radius: 10px;
    }
    .modal-contenido {
        background-color: #474747;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #000000;
        width: 40%;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        border-radius: 10px;
    }
    .card5 {
        width: 375.5px;
        margin-left: -10%;
        padding: -41px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }

    .card5-1 {
        margin-top: 0px;
        width: 375.5px;
        margin-left: -10%;
        padding: -41px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }

    .btn1 {
        position: absolute;
        margin-top: 623px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 65px;
        line-height: 60px;
        text-align: center;
        padding: 0 19px;
        border-radius: 10px;
    }

    .contenedor1 {
        width: 100%;
        margin: 10px auto;
        color: #000000;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card3 {
        width: 525px;
        margin-left: -44px;
        padding: 0px;
        color: #ffffff;
        text-indent: 30px;
        border-radius: 10%;
    }

    .input2 {
        border: 1px solid #000000;
        height: 48px;
        width: 67.2%;
        font-size: 14px;
        text-indent: 0px;
        border-radius: 20px;
        margin-left: 90px;
        padding: 15px;
    }

    .btn11 {
        text-decoration: none;
        position: absolute;
        margin-top: 113px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0 25px;
        margin-left: -98px;
        border-radius: 10px;
        border: solid 1px black;
    }

    .btn13 {
        margin-left: 6px;
        text-decoration: none;
        position: absolute;
        margin-top: 796px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        background-color: #53B531;
        height: 62px;
        line-height: 60px;
        text-align: center;
        padding: 0 20px;
        border-radius: 10px;
    }
}